.swiper {
  &:hover {
    .swiper-button-prev {
      background: url(https://pjiybecehatvdpefgnck.supabase.co/storage/v1/object/public/assets/images/icons/swiper-left-icon.svg?t=2023-07-20T14%3A41%3A58.840Z);
    }
    .swiper-button-next {
      background: url(https://pjiybecehatvdpefgnck.supabase.co/storage/v1/object/public/assets/images/icons/swiper-right-icon.svg?t=2023-07-20T14%3A37%3A11.343Z);
    }
  }
}

.swiper-button-next {
  color: transparent;
  background-repeat: no-repeat !important;
  width: 30px;
  height: 30px;
  background-size: contain !important;
}

.swiper-button-prev {
  color: transparent;
  background-repeat: no-repeat !important;
  width: 30px;
  height: 30px;
  background-size: contain !important;
}
